@mixin image-2x($image, $width: 100%, $height: 100%) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin round-icons-block($context) {
  & {
    padding: 55px 0;
    font-size: 0;
  }

  &-i {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 100px;
  }

  &-icon {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transition: 0.3s background-color, 0.3s border-color;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    border: 2px solid fade-out(#004eaa, 0.6);
    border-radius: 50%;
    background-color: #fff;

    #{$context}-i:hover & {
      border-color: transparent;
      background-color: #004eaa;

      &:before {
        opacity: 0;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &:before {
      z-index: 2;
      transition: 0.3s opacity;
    }
  }

  &-title {
    margin-bottom: 15px;
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }

  &-description {
    font-size: 14px;
    color: #888;
  }
}

@mixin blue-block($intro: false) {
  .container {
    box-sizing: border-box;

    @if $intro {
      padding-right: 480px;
    } @else {
      padding-right: 380px;
    }

    @media (max-width: $container-responsive--width) {
      padding: 40px 0 !important;
      background-image: none !important;
    }
  }

  & {
    background-image: url(../images/bg.png);
    background-color: #004eaa;
    background-repeat: no-repeat;
  }

  &-title {
    color: #fff;

    @media (max-width: $container-responsive--width) {
      text-align: center;
    }

    @if $intro {
      margin-bottom: 20px;
      font-size: 26px;

      @media (max-width: $container-responsive--width) {
        font-size: 24px;
      }

    } @else {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-size: 24px;
    }
  }

  &-description {
    @if $intro {
      color: #fff;
      line-height: 32px;
      font-size: 20px;

      @media (max-width: $container-responsive--width) {
        font-size: 16px;
      }

    } @else {
      color: #b3c1dc;
      line-height: 20px;
      font-size: 14px;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
