.intro {
  @include image-2x('../images/timestamp-of@2x.png');
  padding: 1px 0 40px;
  background-image: url(../images/timestamp-of@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
  color: #fff;
  text-align: center;

  .timestamp-of {
    margin: 35px 0;
    line-height: 50px;
    font-size: 28px;

    span {
      margin-left: 10px;
      border: 1px solid fade-out(#fff, 0.5);
      padding: 0 15px;
      background-color: fade-out(#fff, 0.8);
      font-weight: bold;
    }
  }

  .document-digest {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .sha {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
  }

  .download {
    display: inline-block;
    transition: 0.3s opacity;
    margin-bottom: 10px;
    padding: 0 20px;
    background-color: #fff;
    color: #004eaa;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      opacity: 0.9;
    }
  }

  .to-upload-page {
    color: fade-out(#fff, 0.5);
    text-decoration: underline;
    font-size: 14px;

    &:hover {
      text-decoration: none;
    }
  }
}
