.intro {
  @include blue-block(true);

  .container {
    padding: 160px 480px 160px 0;
    background-image: url(../images/intro.png);
    background-repeat: no-repeat;
    background-position: right center;
  }
}
