.navigation {
  @include round-icons-block(&);

  @media (max-width: $container-responsive--width) {
    padding: 15px 0;
  }

  &-i {
    width: 27.66%;
    margin-right: 8.5%;
    margin-top: 25px;
    margin-bottom: 25px;

    @media (max-width: $container-responsive--width) {
      width: 45%;
    }

    @media (max-width: 600px) {
      display: block;
      width: 240px;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &:nth-child(3n) {
      margin-right: 0;

      @media (max-width: $container-responsive--width) {
        margin-right: 8.5%;
      }

      @media (max-width: 600px) {
        margin-right: 0;
      }
    }

    &:nth-child(2n) {
      @media (max-width: $container-responsive--width) {
        margin-right: 0;
      }
    }
  }

  &-icon {
    &:before,
    &:after {
      @include image-2x('../images/navigation@2x.png', 32px, 340px);
      transform: translate(-50%, -50%);
      background-image: url(../images/navigation.png);
    }

    &_stamp-and-verify:before,
    &_stamp-and-verify:after {
      width: 32px;
      height: 22px;
    }

    &_stamp-and-verify:before {
      background-position: 0 -318px;
    }

    &_stamp-and-verify:after {
      background-position: 0 -296px;
    }

    &_how-it-works:before,
    &_how-it-works:after {
      width: 32px;
      height: 32px;
    }

    &_how-it-works:before {
      background-position: 0 -32px;
    }

    &_how-it-works:after {
      background-position: 0 0;
    }

    &_members:before,
    &_members:after {
      width: 32px;
      height: 32px;
    }

    &_members:before {
      background-position: 0 -212px;
    }

    &_members:after {
      background-position: 0 -180px;
    }

    &_repositories:before,
    &_repositories:after {
      width: 32px;
      height: 26px;
    }

    &_repositories:before {
      background-position: 0 -270px;
    }

    &_repositories:after {
      background-position: 0 -244px;
    }

    &_mailing-list:before,
    &_mailing-list:after {
      width: 32px;
      height: 26px;
    }

    &_mailing-list:before {
      background-position: 0 -154px;
    }

    &_mailing-list:after {
      background-position: 0 -128px;
    }

    &_internet-archive:before,
    &_internet-archive:after {
      width: 30px;
      height: 32px;
    }

    &_internet-archive:before {
      background-position: 0 -96px;
    }

    &_internet-archive:after {
      background-position: 0 -64px;
    }
  }
}
